*
  box-sizing: border-box

body
  font-family: 'Open Sans', sans-serif
  color: #54524F

a
  text-decoration: none
  color: #000000
  &:visited
    color: inherit

img
  max-width: 100%

button
  padding: 28px 75px
  border: none
  border-radius: 50px

.shape
  position: absolute
  z-index: 1
  &--top
    top: 0
  &--middle
    top: 45%
  &--bottom
    bottom: 0

.logo
  max-width: 42px

