@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  color: #54524F; }

a {
  text-decoration: none;
  color: #000000; }
  a:visited {
    color: inherit; }

img {
  max-width: 100%; }

button {
  padding: 28px 75px;
  border: none;
  border-radius: 50px; }

.shape {
  position: absolute;
  z-index: 1; }
  .shape--top {
    top: 0; }
  .shape--middle {
    top: 50%; }
  .shape--bottom {
    bottom: 0; }

.headline {
  position: relative;
  max-width: 100%;
  background-image: url("../img/headline_background.png");
  background-size: cover;
  background-repeat: no-repeat; }

.header {
  position: inherit;
  z-index: 10;
  padding-top: 20px;
  padding-left: 24px; }
  .header-content {
    display: flex;
    max-width: 1232px;
    justify-content: space-between; }
  .header__toolbar {
    display: flex;
    align-items: center;
    max-height: 52px;
    margin-top: 10px; }
  .header__menu {
    display: flex;
    justify-content: space-between;
    padding-right: 62px;
    padding-left: 0;
    margin: 0;
    width: 548px;
    list-style: none; }
  .header__item {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #54524F; }
  .header__search {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 184px;
    height: 100%;
    border-radius: 26px;
    background-color: #7F7770;
    opacity: 0.47; }
  .header__input {
    background-color: transparent;
    color: #FFFFFF;
    line-height: normal;
    border: none;
    overflow: auto;
    max-width: 140px;
    margin-left: 10px; }

.search-icon {
  max-width: 31px;
  margin-right: 28px;
  margin-top: 4px; }

.banner {
  position: inherit;
  z-index: 10;
  padding-top: 180px;
  padding-left: 35px;
  padding-bottom: 200px; }
  .banner-content {
    max-width: 536px; }
  .banner__title {
    margin: 0;
    padding-bottom: 7px;
    text-transform: uppercase;
    font-size: 88px;
    font-weight: bolder;
    color: #DEB37E;
    text-shadow: 2px -3px 7px #969696; }
  .banner__subtitle {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-style: italic;
    font-weight: 600; }
  .banner__button {
    margin-top: 65px;
    margin-bottom: 26px;
    padding: 15px 36px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    color: #776C64;
    background-color: #FFFFFF; }
  .banner__text {
    margin: 0;
    max-width: 450px;
    font-size: 19px;
    font-style: italic; }

.offer-gallery {
  position: relative; }
  .offer-gallery__content {
    display: flex;
    flex-flow: column;
    align-items: center; }
  .offer-gallery__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 62.5px;
    font-weight: bolder;
    color: #E2A355; }
  .offer-gallery__text {
    margin-top: 48px;
    margin-bottom: 81px;
    max-width: 700px;
    font-size: 27.1px;
    color: #7F7770;
    text-align: center; }
  .offer-gallery__button {
    margin-top: 54px;
    margin-bottom: 180px;
    font-size: 23.2px;
    font-weight: bolder;
    color: #FFFFFF;
    background-color: #7F7770;
    border-radius: 50px;
    padding: 24px 75px; }
  .offer-gallery-back {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.47; }

.slider {
  max-width: 1172px; }
  .slider__item {
    display: flex;
    flex-flow: column;
    align-items: center; }
  .slider__block {
    max-width: 300px;
    background-color: #7F7770; }
  .slider__img {
    width: 300px;
    height: 300px;
    object-fit: cover; }
  .slider__title {
    margin-top: 56px;
    padding-left: 18px;
    font-size: 29px;
    font-weight: bold;
    color: #FFFFFF; }
  .slider__text {
    margin: 0;
    max-width: 90%;
    overflow-wrap: break-word;
    padding-left: 18px;
    padding-bottom: 67px;
    font-size: 18px;
    color: #FFFFFF; }

.slider {
  position: relative; }

.slider__container {
  overflow: hidden; }

/*overflow: hidden; */
.slider__items {
  display: flex;
  transition: transform 0.5s ease; }

.slider_disable-transition {
  transition: none; }

.slider__item {
  flex: 0 0 33.34%;
  max-width: 33.34%;
  user-select: none; }

/* кнопки влево и вправо */
.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2); }

.slider__control_hide {
  display: none; }

.slider__control[data-slide='prev'] {
  left: 0; }

.slider__control[data-slide='next'] {
  right: 0; }

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background: rgba(0, 0, 0, 0.3); }

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%; }

.slider__control[data-slide='prev']::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

.slider__control[data-slide='next']::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

/* индикаторы */
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0; }

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; }
  .slider__indicators li.active {
    background-color: rgba(255, 255, 255, 0.9); }

.special-offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7f7770; }
  .special-offer:nth-child(2n) {
    background-color: #deb37e;
    flex-flow: row-reverse; }
  .special-offer__img {
    max-width: 50%; }
  .special-offer__content {
    padding-left: 80px;
    color: #ffffff; }
  .special-offer__title {
    max-width: 533px;
    font-size: 56px;
    font-weight: bold; }
  .special-offer__text {
    margin: 0;
    margin-bottom: 53px;
    max-width: 500px;
    font-size: 28px;
    font-weight: normal; }
  .special-offer__button {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    background-color: #e2a355;
    color: white; }

.motivation {
  position: relative; }
  .motivation-text {
    background-color: #99928d; }
    .motivation-text__back {
      position: absolute;
      top: 15%; }
    .motivation-text__container {
      margin: auto;
      z-index: 10;
      max-width: 895px;
      padding-top: 350px;
      padding-bottom: 350px; }
    .motivation-text__title {
      margin: 0;
      text-align: center;
      font-size: 58.4px;
      font-weight: 600;
      color: #FFFFFF; }
    .motivation-text__paragraph {
      margin: 0;
      margin-top: 41px;
      text-align: center;
      font-size: 29.2px;
      font-weight: 400;
      color: #dbdbdb; }
  .motivation-img {
    background-image: url("../img/motivation-img-background.jpeg");
    background-size: cover; }
    .motivation-img__title {
      box-sizing: content-box;
      margin: 0;
      max-width: 475px;
      text-align: right;
      padding-top: 190px;
      padding-left: 750px;
      padding-bottom: 389px;
      font-size: 83.4px;
      color: #54524f;
      font-style: italic;
      font-weight: 800;
      text-shadow: 3px -4px 5px rgba(84, 82, 79, 0.36); }
      .motivation-img__title--first-word {
        font-size: 75px;
        color: #deb37e; }
  .motivation--shape--bottom {
    bottom: -50px; }

/*# sourceMappingURL=style.css.map */
